<!DOCTYPE html>
<html lang="en" ng-app="RegisterApp">
<head>
    <meta charset="UTF-8">
    <title>Day10</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <script src="index.js"></script>
    <script src="registersvc.js"></script>


</head>
<body ng-controller="RegisterCtrl as _registerCtrl">
<div class="container">
    
    <!-- row 1: jumbotron -->
    <div class="row">    
        <!-- full screen column -->
        <div class="col-xs-12 
                    col-sm-12
                    col-md-12
                    col-lg-12">
            <div>
                <h1 class="text-left">Day10 Registration Form</h1>
            </div>
        </div> <!-- end of column -->
    </div> <!-- end of row 1 -->

    <!-- row 2: Registeration Form -->
    <div class="row">
    <!-- form column -->
        <div class="col-xs-12 
                    col-sm-5
                    col-md-5
                    col-lg-5">

	                <form name="registerForm" ng-submit="_registerCtrl.registerSubmit()" novalidate>
	               	    <!-- Email box -->
	                    <div class="form-group">
	                        <label for="email-id">Email: </label>
	                        <input type="email" class="form-control" id="email-id" name="email" ng-model="_registerCtrl.email" 
                                placeholder="Email" required>
                            <!--<span class="helpBlock" id="helpBlock" ng-hide="registerForm.email.$valid">Missing email</span>-->
	                    </div> <!-- end of Email box -->

	                    <!-- Password box -->
	                    <div class="form-group">
	                        <label for="password-id">Password: </label>
	                        <input type="password" class="form-control" id="password-id" name="password" ng-model="_registerCtrl.password" 
                                placeholder="Password" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[@,#,$]).{8,}" required >
                            <!--<span class="helpBlock" id="helpBlock" ng-hide="registerForm.password.$valid">Missing password</span>-->
	                    </div> <!-- end of Password box -->

                        <!-- Name box -->
	                    <div class="form-group">
	                        <label for="name-id">Name: </label>
	                        <input type="text" class="form-control" id="name-id" name="name" ng-model="_registerCtrl.name" 
                                placeholder="Name" required>
                            <!--<span class="helpBlock" id="helpBlock" ng-hide="registerForm.name.$valid">Missing name</span>-->
	                    </div> <!-- end of Name box -->

                        <!--Gender radio selection-->
                        <div class="btn-group">
                            <label for="gender-id">Gender: </label>

                            <label class="radio-inline" for="gender-id">
							    <input type="radio" id="gender-id" name="gender" value="female" ng-model="_registerCtrl.gender" required> Female
							</label>

                            <label class="radio-inline">
							    <input type="radio" id="gender-id" name="gender" value="male" ng-model="_registerCtrl.gender" required> Male
							</label>
                        </div> <!-- end of Gender radio selection -->
                        <br></br>
                        <!-- Date of Birth box -->
	                    <div class="form-group">
	                        <label for="birth-id">Date of Birth: </label>
	                        <input type="date" class="form-control" id="birth-id" name="birth" ng-model="_registerCtrl.birth" required>
                            <!--<span class="helpBlock" id="helpBlock" ng-hide="registerForm.birth.$valid">Missing D.O.B</span>-->
	                    </div> <!-- end of Date of Birth box -->

                        <!-- Address box -->
	                    <div class="form-group">
	                        <label for="address-id">Address: </label>
	                        <textarea id="address-id" class="form-control" name="address" rows="4" ng-model="_registerCtrl.address" 
                                placeholder="Address" required></textarea> 
                            <!--<span class="helpBlock" id="helpBlock" ng-hide="registerForm.address.$valid">Missing address</span>-->
	                    </div> <!-- end of Address box -->

                        <!-- Country box -->
	                    <div class="form-group">
	                        <label for="country-id">Country: </label>
	                        <input type="text" class="form-control" id="country-id" name="country" ng-model="_registerCtrl.country" 
                                placeholder="Country" required>
                            <!--<span class="helpBlock" id="helpBlock" ng-hide="registerForm.country.$valid">Missing country</span>-->
	                    </div> <!-- end of Country box -->

                        <!-- Contact Number box -->
	                    <div class="form-group">
	                        <label for="contact-id">Contact Number: </label>
	                        <input type="text" class="form-control" id="contact-id" name="contact" ng-model="_registerCtrl.contact" 
                                placeholder="Contact Number" pattern="[+-\s)(\d].{4,}" required>
                            <!--<span class="helpBlock" id="helpBlock" ng-hide="registerForm.contact.$valid">Missing contact</span>-->
	                    </div> <!-- end of Contact Number box -->

	                    <!-- submit button -->
	                    <div class="form-group">
                            <button type="submit" class="form-control btn btn-success" ng-disabled="registerForm.$invalid">Register 
                                <i class="fa fa-sign-in"></i>
                            </button>
	                    </div> <!-- end of submit button -->
	                </form>   
        </div> <!-- end of form column -->
    </div> <!-- end of row 2 -->

    <!-- row 3 : Thank you message -->
    <div class="row">
        <!-- 1st column -->
        <div class="col-xs-12
                    col-sm-5
                    col-md-5
                    col-lg-5">
            <form name="thankForm" ng-show="registerForm.submitted.$valid">
                <h1 id="thank-id">Registration successful, thank you</h1>
            </form>
        </div> <!-- end of 1st column -->
    </div> <!-- end of row 3 -->



</div> <!--end of container-->
</body>
</html>